{% extends 'index.html.twig' %}

{% block content %}
    <div class="upload">
        <form method="post" action="index.php" enctype="multipart/form-data">
            <label for="uploadCsv">Fichier csv : </label>
            <input type="file" name="uploadCsv">
            <br/>
            <button type="submit" name="submitCsv" onclick="verify()" class="uploadCsv">Envoyer</button>
        </form>
    </div>
{% endblock %}