{% extends 'index.html.twig' %}

{% block content %}
    <div class="upload">
        <label for="uploadCsv">Fichier csv : </label>
        <input type="text" name="uploadCsv" placeholder="Votre fichier">
        <button type="submit">Envoyer</button>
    </div>
{% endblock %}