<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>Adrar - Candidature</title>
        </head>

        <body>
            <header>
                <h1>Adrar - Candidature</h1>
            </header>

            {% block content %}
            {% endblock %}

        </body>
    </html>